.navigation {
  background: url("../assets/bg.png");
  background-color: transparent !important;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
  
  object-fit: contain;
}

.center {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
  
  object-fit: contain;
}