.carousel-container {
  text-align: center;
  margin: 0 auto;
  width: 100vw;
  height: 60vh;
}

.carousel-image {
  display: inline-block;
  width: 100vw;
  height: 80vh;
}

.my-jumbotron.jumbotron-no-margin {
  margin-bottom: 0rem;
}

.bg-footer {
  background-color: rgb(248, 249, 250);
  
}

.dropdowntoggle {
  font-size: 22px;
}

.navlink {
  font-size: 18px;
  font-weight: bolder;
  margin-right: 10px;
}